{% load static %}
<aside class="main-sidebar sidebar-dark-blue elevation-4">
    <style>
        .sidebar-dark-blue{
          background: #000f2e !important;
        }
        .main-sidebar * {
            color: #ffffff !important;
        }
   </style>
    <a href="{% url 'erp:dashboard' %}" class="brand-link">
        <img src="{% static 'img/logo_intelcom.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: 1">
        <span class="brand-text font-weight-light">Inetworks SpA</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Módulos</li>

                

            
                <li class="nav-item">
                    <a href="{% url 'erp:dashboard' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:producto_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'erp:stock_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Inventario
                        </p>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a href="{% url 'erp:cliente_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-chart-line"></i>
                        <p>
                            Reporte
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-building"></i>
                        <p>
                            Proveedores
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'erp:proveedor_list' %}" class="nav-link">
                                <i class="fas fa-list"></i>
                                <p>Listado de proveedores</p>
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a href="{% url 'erp:oc_list' %}" class="nav-link">
                                <i class="fas fa-file-alt"></i>
                                <p>Ordenes de Compra</p>
                            </a>
                        </li>


                    </ul>
                </li>
              

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-dolly"></i>
                        <p>
                            Movimientos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'erp:sale_list' %}" class="nav-link">
                                <i class="fas fa-shopping-cart"></i>
                                <p>Ventas</p>
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a href="{% url 'erp:mov_list' %}" class="nav-link">
                                <i class="fas fa-user-tie"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:movemp_list' %}" class="nav-link">
                                <i class="fas fa-user"></i>
                                <p>Empleados</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <hr>
            
                <li class="nav-item">
                    <a href="#" class="nav-link">
                      
                        <i class="fas fa-cubes"></i>
                        <p>
                            Gestión de recursos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'erp:category_list' %}" class="nav-link">
                                <i class="fas fa-folder"></i>
                                <p>Categorías</p>
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a href="{% url 'erp:tipomov_list' %}" class="nav-link">
                                <i class="fas fa-exchange-alt"></i>
                                <p>Tipos de Movimientos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:tipoprod_list' %}" class="nav-link">
                                <i class="fas fa-tags"></i>
                                <p>Tipos de Productos</p>
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a href="{% url 'erp:empleado_list' %}" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>Empleados</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user:user_list' %}" class="nav-link">
                                <i class="fas fa-user-friends"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>

                    </u>

            


        </nav>
    </div>
</aside>
