{% load static %}
<aside class="main-sidebar sidebar-dark-blue elevation-4">
    <style>
        .sidebar-dark-blue{
          background: #000f2e !important;
        }
        .main-sidebar * {
            color: #ffffff !important;
        }
   </style>
    <a href="{% url 'erp:dashboard' %}" class="brand-link">
        <img src="{% static 'img/fasbas.png' %}"
             alt="Logo"
             class="brand-image   elevation-3"
             style="opacity: 1">
        <span class="brand-text font-weight-light">FasBas</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Módulos</li>

                

            
                <li class="nav-item">
                    <a href="{% url 'erp:dashboard' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a href="{% url 'erp:poste_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Poste
                        </p>
                    </a>
                </li>
                
                <li class="nav-item"></li>
                    <a href="{% url 'erp:proyecto_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Proyectos
                        </p>
                    </a>
                </li>

                <li class="nav-item"></li>
                    <a href="{% url 'erp:diseno_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Propuesta de diseño
                        </p>
                    </a>
                </li>


             
              
             
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-chart-line"></i>
                    <p>
                    Reportes
                    <i class="fas fa-angle-left right"></i>
                    
                    </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                    <a href="{% url 'postes_report'%}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Postes</p>
                    </a>
                    </li>
                    
                    <li class="nav-item">
                    <a href="" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Entrega de proyecto</p>
                    </a>
                    </li>
                    
                  
                    </ul>
                    </li>





                

                <hr>
                                        
                        <li class="nav-item">
                            <a href="{% url 'erp:proveedor_list' %}" class="nav-link">
                                <i class="fas fa-tags"></i>
                                <p>Competidores</p>
                            </a>
                        </li>
                
                        
                        <li class="nav-item">
                            <a href="{% url 'user:user_list' %}" class="nav-link">
                                <i class="fas fa-user-friends"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>

                    </u>

        </nav>
    </div>
</aside>
