{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'conformidad/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Id</th>
        <th scope="col" style="width: 15%;">Tipo</th>
        <th scope="col" style="width: 15%;">Proveedor</th>
        <th scope="col" style="width: 10%;">Observacion</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}