<!-- Main Footer -->
<footer class="main-footer text-center">
    <div class="footer-left">
        <strong>Copyright &copy; 2024| <a href="#">FBS</a>.</strong>
    </div>
    <div class="footer-right">
        <span id="current-date-time"></span>
    </div>
</footer>

<style>
    .main-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-left {
        flex: 1; /* Hace que el contenido de la izquierda ocupe todo el espacio disponible */
        text-align: left;
    }

    .footer-right {
        text-align: right;
    }
</style>